[client]
port            = 11111
socket          = /tmp/percona.sock

[mysqld]
port            = 11111
socket          = /tmp/percona.sock
user            = mysql
plugin-dir 	= /home/root/phxsql/lib
basedir         = /home/root/phxsql/percona.src
datadir         = /home/root/data/phxsql/percona.workspace/data
tmpdir 		= /home/root/data/phxsql/percona.workspace/tmp
log-error  	= /home/root/data/phxsql/percona.workspace/log.err
character-set-server = latin1
pid-file        = percona.pid
proxy_protocol_networks = 127.0.0.1,::ffff:127.0.0.1

skip-name-resolve = 1
wait_timeout    = 1800
max_connections = 6000
max_connect_errors = 1024
table_open_cache = 8000
table_open_cache_instances = 16
key_buffer_size=256M
max_allowed_packet = 1024M
#net_buffer_length = 256M
binlog_cache_size = 2M
max_heap_table_size = 256M
sort_buffer_size = 2M
join_buffer_size = 2M
thread_cache_size = 1024
thread_concurrency = 64
tmp_table_size = 256M
read_rnd_buffer_size = 8M
explicit_defaults_for_timestamp=1

#thread_handling=pool-of-threads
#thread_pool_max_threads=500
#thread_pool_size=50
#thread_pool_oversubscribe=10

query_cache_type = 0
#query_cache_size = 64M
#query_cache_limit = 2M
ft_min_word_len = 4
#default_table_type = INNODB
default_tmp_storage_engine=memory
thread_stack = 192K
#transaction_isolation = SERIALIZABLE
transaction_isolation =REPEATABLE-READ
metadata_locks_hash_instances = 32

slow_query_log_file= mysql_slow.log
slow_query_log = 1
long_query_time = 1
#log_long_format

##replication

server_id = 14016006
sync_binlog = 1
log-bin = /home/root/data/phxsql/percona.workspace/binlog/mysql-bin
binlog_format = mixed
log_slave_updates = 1
binlog_order_commits=0
relay-log = /home/root/data/phxsql/percona.workspace/binlog/relay-log

relay_log_info_repository=TABLE
master_info_repository=TABLE
#slave_parallel_workers=5
skip_slave_start = 1
slave_skip_errors=1032,1062

#rpl_semi_sync_master_enabled=1
#rpl_semi_sync_master_timeout=7200
#rpl_semi_sync_master_trace_level=32
#rpl_semi_sync_master_wait_no_slave=on

##engines
performance_schema=0

#plugin_load=ha_tokudb.so
loose_tokudb_cache_size=256m
loose_tokudb_commit_sync=0
loose_tokudb_fsync_log_period=1000 
loose_tokudb_directio=1
loose_tokudb_row_format =tokudb_fast
loose_tokudb_read_block_size = 128K
loose_tokudb_read_buf_size = 128K
loose_tokudb_write_status_frequency =1
loose_tokudb_read_status_frequency=1   
loose_tokudb_data_dir=/home/root/data/phxsql/percona.workspace/tokudb
loose_tokudb_log_dir=//home/root/data/phxsql/percona.workspace/tokudb

federated = 1

#innodb options
innodb_file_per_table=1
innodb_purge_threads=3
#innodb_use_atomic_writes=0
innodb_data_home_dir = /home/root/data/phxsql/percona.workspace/innodb
innodb_log_group_home_dir = /home/root/data/phxsql/percona.workspace/innodb
innodb_undo_directory = /home/root/data/phxsql/percona.workspace/innodb
innodb_undo_tablespaces = 3
innodb_data_file_path = ibdata:1G:autoextend
#innodb_page_size = 4k
#innodb_log_block_size = 4k
innodb_file_format=barracuda
innodb_use_sys_malloc = 1
#innodb_additional_mem_pool_size = 32M
innodb_buffer_pool_size = 200M
innodb_disable_sort_file_cache=1
innodb_log_compressed_pages=0
innodb_read_io_threads = 8
innodb_write_io_threads = 16
innodb_thread_concurrency = 0
innodb_flush_neighbors=0
innodb_random_read_ahead=0
innodb_read_ahead_threshold=0
innodb_io_capacity=5000
innodb_lru_scan_depth=2048
innodb_open_files=1000
innodb_flush_log_at_trx_commit = 1
innodb_flush_method = O_DIRECT_NO_FSYNC 
innodb_log_buffer_size = 64M
innodb_log_file_size = 100M
innodb_log_files_in_group = 3
innodb_max_dirty_pages_pct = 75
innodb_lock_wait_timeout = 120
innodb_support_xa = 1

#gtid mode
gtid_mode=ON
log-slave-updates=ON
enforce-gtid-consistency=ON

[mysqldump]
quick = 1
max_allowed_packet = 1024M

[mysql]
no-auto-rehash = 1

[mysqld_safe]
#open-files-limit = 65536
#malloc-lib= /usr/local/mysql/lib/mysql/libjemalloc.so
